name: CMake_onLabel
# 2026, Shishkov M.: promotion based on v tag
on: 
  push:
      tags: v[1-9][0-9][1-9][0-9]

permissions:
  # This is required for requesting the OIDC token
  id-token: write
  # This is required for actions/checkout
  contents: read

env:
  BUILD_TYPE: Release
  WORKING-DIR: .

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 
    
    - name: Prepare
      working-directory: ${{env.WORKING-DIR}}
      shell: cmake -P {0}
      run: |
        set(ninja_version "1.9.0")
        set(ninja_suffix "linux.zip")
        set(ninja_url "https://github.com/ninja-build/ninja/releases/download/v${ninja_version}/ninja-${ninja_suffix}")
        file(DOWNLOAD "${ninja_url}" ./ninja.zip SHOW_PROGRESS)
        execute_process(COMMAND ${CMAKE_COMMAND} -E tar xvf ./ninja.zip)
        execute_process(COMMAND chmod +x ninja)
        execute_process(COMMAND ./ninja --version)
        # ensures finding the corresponding ninja generator
        file(TO_CMAKE_PATH "$ENV{GITHUB_WORKSPACE}/ninja" ninja_program)
        execute_process(
            COMMAND cmake
              -S .
              -B build
              -D CMAKE_BUILD_TYPE=${env.BUILD_TYPE}
              -G Ninja
              -D CMAKE_MAKE_PROGRAM=${ninja_program}
            RESULT_VARIABLE result
          )
          if (NOT result EQUAL 0)
            message(FATAL_ERROR "Bad exit status")
          endif()
        
    - name: Build
      working-directory: ${{env.WORKING-DIR}}
      shell: bash
      run: bash ./build.sh $(pwd)/ninja

    - name: Set up JFrog CLI with OIDC
      id: setup-jfrog-cli
      uses: jfrog/setup-jfrog-cli@v4
      env:
        JF_URL: https://trial1y5vze.jfrog.io
      with:
        oidc-provider-name: setup-jfrog-cli

    - name: Determine release version
      id: vars
      run: echo "tag=RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - name: Upload artifact
      run: |
       mv ${{env.WORKING-DIR}}/doc/am65x.gif ${{env.WORKING-DIR}}/${{steps.vars.outputs.tag}}/am65x.gif
       jf rt upload "${{env.WORKING-DIR}}/${{steps.vars.outputs.tag}}/am65x.gif" am65x-dev
